@charset "utf-8";
html,body{
    margin:0;
    font-family:"맑은 고딕";
    font-size:16px;
    color:#333333;
}
a{
    text-decoration:none;
    color:black;
}
a:hover{
    color:#666666;
}
img{
    vertical-align: bottom;
}
*{
    box-sizing:border-box;
}

/*  기본 header 디자인 */
header{
    width:1200px;
    height:100px;
    /* background-color:#eee; */
    margin:auto;
    display:flex;
}
#contents{
    width:1200px;
    height:auto;
    /* background-color:#ddd; */
    margin:auto;
}
footer{
    width:1200px;
    height:100px;
    background-color:#ccc;
    margin:auto;
    display:flex;
}

/* 헤더 세부 와이어 */
h1{
    width:200px;
    height:100%;
    /* background-color:#aaa; */
    margin:0;
    display:flex;
    justify-content: center;
    align-items:center;
}
nav{
    width:1000px;
    height:100%;
    /* background-color:#bbb; */
    display:flex;
    justify-content: end;
    align-items:center;
}

/* 로고 디자인 */
h1 img{
    width:100%;
}

/* 네비게이션 gnb */
ul.gnb{
    width:600px;
    height:50px;
    list-style:none;
    /* border:1px solid black; */
    margin:0;
    padding:0;
    margin-right:20px;
    display:flex;
}
ul.gnb>li{
    width:25%;
    height:100%;
    /* border:1px solid black; */
}
ul.gnb>li>a{
    background-color:rgb(123, 25, 71);
    display:flex;
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
    color:yellow;
    font-weight:bold;
}
ul.gnb>li>a:hover{
    background-color:rgb(182, 43, 108);
}

/* 콘텐츠 와이어프레임 */
div.slider-wrap{
    width:100%;
    height:300px;
    background-color:#ddd;
    overflow:hidden;
}
div.n-g-b{
    width:100%;
    height:200px;
    display:flex;

}
div.notic,
div.gallery,
div.banner{
    width:400px;
    height:100%;
    border:1px solid black;
    padding:10px;
}

div.slider-wrap img{
    width:100%;
}

div.notic h3{
    margin:0;
    width:150px;
    height:30px;
    background-color:#333;
    margin-left:20px;
}
div.notic h3 a{
    display:flex;
    width:100%;
    height:100%;
    color:white;
    justify-content: center;
    align-items:center;
}
ul.notic-content{
    padding:0;
    margin:0;
    list-style:none;
    width:100%;
    border:1px solid black;
}
ul.notic-content>li{
    width:100%;
    height:35px;
}
ul.notic-content>li:nth-child(even){
    background-color:#eee;
}
ul.notic-content>li>a{
    display:flex;
    justify-content: space-between;
    height:100%;
    align-items: center;
    padding:0 10px;
}

/* 갤러리 */
div.gallery h3{
    padding:0;
    margin:0;
    width:150px;
    height:30px;
    background-color:#333;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:20px;
}
div.gallery>h3>a{
    color:white;
}
div.gallery-contents{
    width:100%;
    height:140px;
    border:1px solid black;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

/* 배너 */
div.banner a{
    display:block;
    width:100%;
    height:100%;
    overflow:hidden;
}
div.banner a img{
    width:100%;
}

/* footer */

#f-logo{
    width:200px;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
#f-logo img{
    width:100%;
}
div.f-text{
    width:800px;
    height:100%;
    display:flex;
    justify-content: center;
    align-items:center;
}
div.sns{
    width:200px;
    height:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
div.sns a{
    display:block;
    width:25%;
}
div.sns img{
    width:100%;
}